.h{
    background-color:black;
    height:758px;
    width:748px;
    position:relative;
    left:20%;
    right:50%;
}
.g{
    display:grid;
    gap:9px;
    grid-template-columns: 320px  419px;
    grid-template-rows: 414px 305px 20px;
}
.r{
    background-color:red;
}
.a{
 background-color: bisque;
}
.y{
    background-color: yellow;
    height:20px;
    width:198px;
}
.k{
    background-color:saddlebrown;
    height:20px;
    width:153px;
}
.f{
    background-color:black;
    display:grid;
    gap:9px;
    grid-template-columns:360px 50px;
}
.c{
    background-color: bisque;
    height:20px;
    width:50px;
}
.d{
    display:flex;
    gap:9px;
}
.e{
    background-color:blueviolet;
    height:130px;
    width:50px;
    border-bottom:10px solid black;
}
.shubha{
    display:grid;
    grid-template-rows: 130px 155px;
    gap:10px;
}
.love{
    background-color:bisque;
    width:50px;
    height:175px;
}
